---
---
@import "{{ site.theme }}";
header {
  img {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    text-align: center;
    font-style: 16;
    color: #C70039;
  }
  p {
    text-align: left;
    font-style: 13;
  }
  p.view {
    text-align: left;
    font-style: 13;
  }
  p {
    font-style: 13;
    color: #C70039;
  }
}
